<ul class="mt-2 lg:mt-0 px-3">
  <li class="lg:mb-2 border-blue-700 hover:text-blue-500 hover:border-b-2 {{ 'text-blue-500 border-b-2' if activeDocPageTitle == 'FAQ' }}">
    <a href="/doc/faq">FAQ</a>
  </li>
  <li class="lg:mb-2 border-blue-700 hover:text-blue-500 hover:border-b-2 {{ 'text-blue-500 border-b-2' if activeDocPageTitle == 'Contact' }}">
    <a href="/doc/contact">Contact</a>
  </li>
  <li class="lg:mb-2 border-blue-700 hover:text-blue-500 hover:border-b-2 {{ 'text-blue-500 border-b-2' if activeDocPageTitle == 'EcoScore' }}">
    <a href="/doc/ecoscore">EcoScore</a>
  </li>
  <li class="lg:mb-2 border-blue-700 hover:text-blue-500 hover:border-b-2 {{ 'text-blue-500 border-b-2' if activeDocPageTitle == 'Computed Statistics' }}">
    <a href="/doc/computed_stats">Computed Statistics</a>
  </li>
  <li class="lg:mb-2 border-blue-700 hover:text-blue-500 hover:border-b-2 {{ 'text-blue-500 border-b-2' if activeDocPageTitle == 'Ship Types' }}">
    <a href="/doc/ship_types">Ship Types</a>
  </li>
  <li class="lg:mb-2 border-blue-700 hover:text-blue-500 hover:border-b-2 {{ 'text-blue-500 border-b-2' if activeDocPageTitle == 'Monitoring Methods' }}">
    <a href="/doc/monitoring_methods">Monitoring Methods</a>
  </li>
  <li class="lg:mb-2 border-blue-700 hover:text-blue-500 hover:border-b-2 {{ 'text-blue-500 border-b-2' if activeDocPageTitle == 'Technical Efficiency' }}">
    <a href="/doc/technical_efficiency">Technical Efficiency</a>
  </li>
  <li class="lg:mb-2 border-blue-700 hover:text-blue-500 hover:border-b-2 {{ 'text-blue-500 border-b-2' if activeDocPageTitle == 'References' }}">
    <a href="/doc/litterature">References</a>
  </li>
  <li class="lg:mb-2 border-blue-700 hover:text-blue-500 hover:border-b-2 {{ 'text-blue-500 border-b-2' if activeDocPageTitle == 'Contribute' }}">
    <a href="/doc/contributing">Contribute</a>
  </li>
</ul>
