<p>You can also</p>
<p>
  <a class="link" href="/ships">
    Explore {{ ships | length }} ferries 🚢
  </a>
</p>
<p>
  <a class="link" href="/companies">Explore {{ companies | length }} companies 🏢</a>
</p>
