<p>You can also</p>
<p>
  <a class="link" href="/ships">
    Explore {{ collections.ship | inScope | length }} ferries 🚢
  </a>
</p>
<p>
  <a class="link" href="/companies">Explore {{ collections.company | length }} companies 🏢</a>
</p>
