---
  pagination:
    data: companies
    size: 1
    alias: company
  permalink: "/companies/{{ company.slug }}/"
---

{% extends "./_layouts/default.njk" %}

{% block title %}
  GreenFerries - {{ company.name }}
{% endblock %}

{% block content %}
  <div class="container mx-auto mb-4 p-2">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold mb-4 flex items-center">
        <div>
          {{ company.name }}
          -
          {{ company.country | countryCodeToFlag }}
        </div>
        {% if company.logo %}
          <div class="ml-4">
            <img src="{{ company.logo }}" class="h-12 w-64" />
          </div>
        {% endif %}
      </h2>
    </div>

    {% if company.wikipediaUrl %}
      <p class="mb-4">
        <a href="{{ company.wikipediaUrl }}" class="link">
          See on Wikipedia ↗
        </a>
      </p>
    {% endif %}
  </div>

  {% if company.outOfScope %}
    <div class="bg-red-400 mb-3">
      <div class="container flex items-center mx-auto py-2 px-3 sm:px-0">
        <div class="text-lg mr-3">
          ⚠️
        </div>
        <div>
          This operator does not seem to be operating passenger ferries, it is considered out of scope.
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container mx-auto mb-4 p-2">
    <h4 class="text-l font-bold mb-3">{{ company.ships | length }} ships</h4>
    {%- set ships = company.ships -%}
    {% include "ship_cards.njk" %}
  </div>
{% endblock %}
