---
  pagination:
    data: routes
    size: 1
    alias: route
  permalink: "/routes/{{ route.slug }}/"
---

{% extends "./_layouts/default.njk" %}

{% block title %}
  GreenFerries - {{ route.cityAName }} ↔ {{ route.cityBName }}
{% endblock %}

{% block content %}
  <div class="container mx-auto mb-4 py-2 px-3 sm:px-0">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl">
        <span class="font-bold">
          {{ route.cityAName }} [{{ route.cityACountry }}]
          ↔
          {{ route.cityBName }} [{{ route.cityBCountry }}]
        </span>
        ({{ route.distanceKm }} km)
      </h2>
    </div>

    <p>{{ route.ships | length }} ships often travel on this route</p>

    {% set ships = route.ships %}
    {% include "ship_cards.njk" %}
  </div>
{% endblock %}

