---
  pagination:
    data: shipsSortedByEcoscore
    size: 30
    alias: shipsPage
---

{% extends "./_layouts/default.njk" %}

{% block title %}GreenFerries - All {{ ships | length }} ferries - page {{ pagination.pageNumber + 1 }} / {{ pagination.pages | length }} {% endblock %}

{% block content %}
  <div class="container mx-auto mb-4 p-2">
    <div class="mt-3 mb-6">
      <ul class="flex justify-center text-lg">
        <li>
          {{ ships | length }} ferries sorted by ecoscore
        </li>
        <li><a class="link ml-2" href="/ships">Sort by name</a><li>
      </ul>
    </div>
    <div class="mt-3 mb-6">
      {% include "pagination.njk" %}
    </div>
    {%- set ships = shipsPage %}
    {% include "ship_cards.njk" %}
    <div class="my-6">
      {% include "pagination.njk" %}
    </div>
    <div class="flex justify-center mb-4">
      {% block page_links %}page_links{% endblock %}
    </div>
  </div>
{% endblock %}
