# copy to /etc/systemd/system/datasette.service

[Unit]
Description=Datasette
After=network.target

[Service]
Type=simple
User=pi
Environment=DATASETTE_SECRET=vLFVwZnprpfx2x30B11v
WorkingDirectory=/home/pi/greenferries/datasette
ExecStart=bash -c "/home/pi/greenferries/venv/bin/datasette . -h 127.0.0.1 -p 8001"
# Restart=on-failure

[Install]
WantedBy=multi-user.target
