---
pagination:
    data: routes
    size: 1
    alias: rawRoute
    resolve: values
permalink: "routes/{{ rawRoute.slug }}/"
---
{% extends "_includes/layout.njk" %}
{%- set route = hydratedBySlug.routes[rawRoute.slug] %}

{% block title %}
  GreenFerries - {{ route.cityA.name }} ↔ {{ route.cityB.name }}
{% endblock %}

{% block content %}
  <div class="container mx-auto mb-4 py-2 px-3 sm:px-0">
    <h2 class="text-xl mb-4">
      <span class="font-bold">{{ route | fullRouteName }}</span>
      ({{ route.distanceKm }} km)
    </h2>

    <p>{{ route.shipsCount }} ships often travel on this route</p>

    {% set ships = route.shipRoutes | extractShips %}
    {% include "_includes/ship_cards.njk" %}
  </div>
{% endblock %}
