{% extends "_includes/layout.njk" %}

{% block title %}GreenFerries - All {{ hydrated.ships | length }} ferries {% endblock %}

{% block content %}
  <div class="container mx-auto mb-4 p-2">
    {%- set ships = hydrated.ships %}
    {% include "_includes/ship_cards.njk" %}
  </div>
{% endblock %}
