<div class="lg:flex">
  <table class="stats-table w-full lg:w-auto mt-3 lg:mt-0">
    <thead>
      <tr>
        <th colspan="4">{{ year }} yearly CO₂ Emissions</th>
      </tr>
      <tr>
        <th class="text-right">assigned to</th>
        <th>total</th>
        <th>average</th>
        <th>ratio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-right">persons 🙎‍♀️</th>
        <td>{{ { value: thetisData[year].annualMonitoringCo2EmissionsAssignedToPassengerTransport, unit: "tonnes CO₂" } | figureCell | safe }}</td>
        <td>{{ { value: thetisData[year].annualAverageCo2EmissionsPerTransportWorkPax, unit: "g·CO₂/pax/n.mile" } | figureCell | safe }}</td>
        <td>{{ { value: thetisData[year].annualComputedRatioCo2FromPax * 100, unit: "%", computed: true } | figureCell | safe }}</td>
      </tr>
      <tr>
        <th class="text-right">freight 🚛</th>
          <td>{{ { value: thetisData[year].annualMonitoringCo2EmissionsAssignedToFreightTransport, unit: 'tonnes CO₂' } | figureCell | safe }}</td>
          <td>{{ { value: thetisData[year].annualAverageCo2EmissionsPerTransportWorkFreight, unit: 'kg·CO₂/m tonne/n.mile' } | figureCell | safe }}</td>
          <td>{{ { value: (1 - thetisData[year].annualComputedRatioCo2FromPax) * 100, unit: '%', computed: true } | figureCell | safe }}</td>
      </tr>
      <tr>
        <th class="text-right">total</th>
        <td>{{ { value: thetisData[year].annualMonitoringTotalCo2Emissions, unit: 'tonnes CO₂' } | figureCell | safe }}</td>
        <td>{{ { value: thetisData[year].annualAverageCo2EmissionsPerDistance, unit: 'kg·CO₂/n.mile' } | figureCell | safe }}</td>
        <td>100%</td>
      </tr>
    </tbody>
  </table>

  <table class='stats-table w-full lg:w-auto lg:ml-3 first:ml-0 mt-3 lg:mt-0'>
    <thead>
      <tr>
        <th colspan="2">{{ year }} yearly statistics</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-right">distance travelled</th>
        <td>{{ { value: thetisData[year].annualComputedDistanceKm, unit: 'km', computed: true } | figureCell | safe }}</td>
      </tr>
      <tr>
        <th class="text-right">time at sea</th>
        <td>{{ { value: thetisData[year].annualMonitoringTotalTimeSpentAtSea, unit: 'hours' } | figureCell | safe }}</td>
      </tr>
    </tbody>
  </table>

  <table class='stats-table w-full lg:w-auto lg:ml-3 first:ml-0 mt-3 lg:mt-0'>
    <thead>
      <tr>
        <th colspan="2">{{ year }} average statistics per journey</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-right">average persons transported 🙎‍♀️</th>
        <td>{{ { value: thetisData[year].annualComputedPax, unit: 'persons', computed: true } | figureCell | safe }}</td>
      </tr>
      <tr>
        <th class="text-right">average freight transported 🚛</th>
        <td>{{ { value: thetisData[year].annualComputedFreight, unit: 'metric tons', computed: true } | figureCell | safe }}</td>
      </tr>
      <tr>
        <th class="text-right">average speed</th>
        <td>{{ { value: thetisData[year].annualComputedAverageSpeed, unit: 'km/h', computed: true } | figureCell | safe }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="md:flex mt-2">
  <div>{{ year }} monitoring methods:</div>
  {% if thetisData[year].monitoringMethods | length > 0 %}
    <ul class="list-disc ml-5">
      {% for letter in thetisData[year].monitoringMethods %}
        <li>{{ letter | monitoringMethodLetterToDescription }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <div>N/A</div>
  {% endif %}
</div>

<div class="my-2">
  {{ year }} Theoretical
  {% if thetisData[year].technicalEfficiencyEiv %}
    EIV (Efficiency Indicator Values): {{ thetisData[year].technicalEfficiencyEiv }} gCO₂/ton/nautical mile
  {% elif thetisData[year].technicalEfficiencyEedi %}
    EEDI (Energy Efficiency Design Index): {{ thetisData[year].technicalEfficiencyEedi }} gCO₂/ton/nautical mile
  {% else %}
    N/A
  {% endif %}
</div>
