---js
{
  pagination: {
    data: "collections.ship",
    size: 60,
    alias: "ships",
    before: data => data.
      map(d => d.data).
      filter(d => !d.outOfScope).
      sort((shipA, shipB) => {
        const a = shipA.thetisData['2019']?.annualComputedAverageCo2EmissionsPerTransportWorkPaxKm
        const b = shipB.thetisData['2019']?.annualComputedAverageCo2EmissionsPerTransportWorkPaxKm
        if (!a && !b)
          return 0
        else if (!a)
          return 1
        else if (!b)
          return -1
        else
          return a - b
      })
  },
  layout: "ships"
}
---
