// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.admin_ships.edit, .admin_ships.show,
.admin_companies.edit, .admin_companies.show {
  #active_admin_content #main_content_wrapper #main_content {
    margin-right: 530px;
  }
  #active_admin_content #sidebar {
    width: 500px;
    margin-left: -500px;
    iframe {
      width: 640px;
      border: 0;
      min-height: 900px;
      transform: scale(0.75);
      transform-origin: 0 0;
    }
  }
}
