{% extends "views/_layouts/default.njk" %}

{% block title %}
  GreenFerries - {{ name }}
{% endblock %}

{% block content %}
  <div class="container mx-auto mb-4 p-2">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold mb-4 flex items-center">
        <div>
          {{ name }}
          -
          {{ country | countryCodeToFlag }}
        </div>
        {% if logo %}
          <div class="ml-4">
            <img src="{{ logo }}" class="h-12 w-64" />
          </div>
        {% endif %}
      </h2>
      {% include "views/_includes/admin_edit_link.njk" %}
    </div>

    {% if wikipediaUrl %}
      <p class="mb-4">
        <a href="{{ wikipediaUrl }}" class="link">
          See on Wikipedia ↗
        </a>
      </p>
    {% endif %}
  </div>

  {% if outOfScope %}
    <div class="bg-red-400 mb-3">
      <div class="container flex items-center mx-auto py-2 px-3 sm:px-0">
        <div class="text-lg mr-3">
          ⚠️
        </div>
        <div>
          This operator does not seem to be operating passenger ferries, it is considered out of scope.
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container mx-auto mb-4 p-2">
    <h4 class="text-l font-bold mb-3">{{ ships | length }} ships</h4>
    {% include "views/_includes/ship_cards.njk" %}
  </div>
{% endblock %}
