{% extends "views/_layouts/default.njk" %}

{% block title %}GreenFerries - {{ collections.company | inScope | length }} ferry operators {% endblock %}

{% block content %}
  <div class="container mx-auto mb-4 p-2">
    <div class="flex justify-center mb-4 text-lg">
      <h2>
        {% block page_title %}title{% endblock %}
      </h2>
    </div>
    <div class="mt-3 mb-6">
      {% include "views/_includes/pagination.njk" %}
    </div>
    <div class="mt-4 grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      {% for company in companies %}
        <a href="/companies/{{ company.slug }}" class="flex items-center h-24 mb-3">
          <div
            class="w-24 h-full flex-shrink-0 bg-contain bg-no-repeat bg-center bg-gray-200"
            style="background-image: url('{{ company.logo }}')">
          </div>
          <div class="p-3 border border-gray-300 h-full flex flex-col justify-center">
            <div class="flex flex-wrap items-center">
              <div>
                <span class="link">{{ company.name }}</span>
                - {{ { word: "ship", count: company.ships | length } | countPlural }}
              </div>

              {% if company.outOfScope %}
                <div class="ml-2">
                  <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                  </svg>
                </div>
              {% endif %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="mt-3 mb-6">
      {% include "views/_includes/pagination.njk" %}
    </div>
    <div class="flex justify-center mb-4">
      {% block page_links %}page_links{% endblock %}
    </div>
  </div>
{% endblock %}
