<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}Greenferries{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Greenferries - Find ferries that emit less CO2 than planes"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/css/index.css?v={% version %}"/>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="min-h-100vh">

    <!-- HEADER -->
    <div class="flex flex-col min-h-100vh">
      <div class="border-b border-blue-700 pb-2">
        <div class="container mx-auto p-3 sm:p-0 h-16 overflow-hidden flex justify-between items-center">
          <a href="/">
            <img src="/img/logo-ship.png" alt="Logo GreenFerries Ship" style="max-width: 50px;" />
          </a>
          <a href="/">
            <img src="/img/logo-greenferries.png" alt="Logo GreenFerries Text"  style="max-width: 250px;" />
          </a>
          <div>
            <div class="hidden sm:block">
              <a class="link mx-1 hover:text-blue-500" href="/">Routes</a>
              <a class="link mx-1 hover:text-blue-500" href="/ships">Ferries</a>
              <a class="link mx-1 hover:text-blue-500" href="/companies">Companies</a>
              <a class="link mx-1 hover:text-blue-500" href="/doc/faq">
                <svg class="fill-current w-4 h-4 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                </svg>
                Doc
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-grow flex flex-col">
        {% block content %}{% endblock %}
        {% if content %}
          <div class="container mx-auto">
            <div class="flex">
              <nav class="w-64 pr-3 py-3 border-r border-blue-700">
                <div class="text-2xl mb-8">Documentation</div>
                <ul>
                  <li class="text-lg mb-2 hover:text-blue-500 {{ 'text-blue-500' if activeLink == 'faq' }}"><a href="/doc/faq">FAQ</a></li>
                  <li class="text-lg mb-2 hover:text-blue-500 {{ 'text-blue-500' if activeLink == 'ecoscore' }}"><a href="/doc/ecoscore">EcoScore</a></li>
                  <li class="text-lg mb-2 hover:text-blue-500 {{ 'text-blue-500' if activeLink == 'computed_stats' }}"><a href="/doc/computed_stats">Computed Statistics</a></li>
                </ul>
              </nav>
              <article class="prose p-3">
                {{ content | safe }}
              </article>
            </div>
          </div>
        {% endif %}
      </div>

      <!-- FOOTER -->
      <div class="bg-blue-700 text-white">
        <div class="container mx-auto px-3 sm:px-0 py-3">
          <p class="italic py-2">
            GreenFerries is a hobby project, all the data shown here has no official value. It is Open Source, so you can double check and modify it.
          </p>

          <div class="py-4 flex items-center">
            <div class="flex-none">
              <img src="/img/score_B_150_transparent.png" alt="Ecoscore B" class="inline mr-2 h-12" />
            </div>
            <div>
              The Ecoscore compares
              <b>average CO₂ emissions per passenger per km</b>.
              <div>
                <i>‟emits like 2.1 planes”</i> means that the ferry emits more than twice what an average plane would on the same distance for one passenger.
              </div>
            </div>
          </div>

          <p class="py-2">
            <a class="link mx-1" href="/ships">Explore all {{ collections.ship | inScope | length }} Ferries 🚢</a>
            <a class="link mx-1" href="/companies">Explore all {{ collections.company | length }} Companies 🏢</a>
            <a class="link mx-1" href="/admin">Edit data (open to everyone)</a>
          </p>
          <p class="py-2">
            Docs:
              <a class="link mx-1" href="/doc/faq">FAQ</a>
              <a class="link mx-1" href="/doc/ecoscore">EcoScore</a>
              <a class="link mx-1" href="https://data.greenferries.org">API & Dumps ↗</a>
          </p>
          <p class="py-2">
            Data Sources:
              <a class="link mx-1" href="https://mrv.emsa.europa.eu/#public/emission-report">EU 🇪🇺 Thetis-MRV Report ↗</a>
              <a class="link mx-1" href="https://www.wikipedia.org/">Wikipedia ↗</a>
          </p>
          <p class="py-2">
            Community:
              <a class="link mx-1" href="https://github.com/greenferries/greenferries">GitHub ↗</a>
              <a class="link mx-1" href="mailto:admin@greenferries.org">Contact ✉️</a>
              <a class="link mx-1" href="https://riot.im/app/#/room/!ucRHvaqIzPZzjYnfTo:matrix.org?via=matrix.org">Discuss with us on Riot/Matrix.org ↗</a>
          </p>
        </div>
      </div>

    </div>

    <script>
      {# https://www.netlifycms.org/docs/add-to-your-site/ #}
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
