---
layout: default
---

<div class="container mx-auto">
  <div class="flex flex-col lg:flex-row">
    <nav class="w-auto lg:w-64 mb-4 lg:mb-0 pr-3 py-3 border-b lg:border-b-0 lg:border-r border-blue-700">
      <div class="hidden lg:block text-2xl mb-8 px-3">Help</div>
      <div class="text-lg flex lg:hidden px-3">
        <div>
          <a href="#" class='link' onClick="document.querySelector('#help-menu').classList.toggle('hidden')">
            Help…
          </a>
        </div>
        <div class="ml-2">
          > {{ activeDocPageTitle }}
        </div>
      </div>
      <div class="hidden lg:block text-lg" id="help-menu">
        {% include "views/_includes/doc_menu.njk" %}
      </div>
    </nav>
    <div class="pb-10">
      <article class="prose p-3 flex-grow">
        {{ content | safe }}
      </article>
      <div class="mt-5 px-3">
        Read other help pages:
        {% include "views/_includes/doc_menu.njk" %}
      </div>
    </div>
  </div>
</div>
