{% extends "views/_layouts/default.njk" %}

{% block title %}
  GreenFerries - {{ cityA.name }} ↔ {{ cityB.name }}
{% endblock %}

{% block content %}
  <div class="container mx-auto mb-4 py-2 px-3 sm:px-0">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl">
        <span class="font-bold">
          {% set cityA = citiesBySlug[cityA] %}
          {% set cityB = citiesBySlug[cityB] %}

          {{ cityA.name }} [{{ cityA.country }}]
          ↔
          {{ cityB.name }} [{{ cityB.country }}]
        </span>
        ({{ distanceKm }} km)
      </h2>
      {% include "views/_includes/admin_edit_link.njk" %}
    </div>

    <p>{{ shipRoutes | length }} ships often travel on this route</p>

    {% set ships = shipRoutes | extractShips %}
    {% include "views/_includes/ship_cards.njk" %}
  </div>
{% endblock %}
