{% extends "./default.njk" %}

{% block title %}GreenFerries - All {{ collections.ship | inScope | length }} ferries - page {{ pagination.pageNumber + 1 }} / {{ pagination.pages | length }} {% endblock %}

{% block content %}
  <div class="container mx-auto mb-4 p-2">
    <div class="mt-3 mb-6">
      <ul class="flex justify-center text-lg">
        <li>{% block page_title %}{% endblock %}</li>
        {% block sort_links %}{% endblock %}
      </ul>
    </div>
    <div class="mt-3 mb-6">
      {% include "pagination.njk" %}
    </div>
    {% include "ship_cards.njk" %}
    <div class="my-6">
      {% include "pagination.njk" %}
    </div>
    <div class="flex justify-center mb-4">
      {% block page_links %}page_links{% endblock %}
    </div>
  </div>
{% endblock %}
